  <div data-bind="foreach: stores">
    <div class="storefinder-list-item">

      <div class="storefinder-list-item-image">

        <img class="img-responsive img-thumbnail" data-bind="attr: { src: image}" />
      </div>

      <div class="storefinder-list-item-details">
        <h3 data-bind="text: name"></h3>
        <p data-bind="text: address1"></p>
        <p data-bind="text: address2"></p>
        <p data-bind="text: town"></p>
        <p data-bind="text: country"></p>
        <p data-bind="text: postcode"></p>

        <p data-bind="text: telephone"></p>


        <p class="storefinder-directions-link">
          <a  data-bind="attr: { href: url}">
            Get Directions
          </a>
        </p>

        <a data-bind="attr: { href: url}" style="clear:both;">
          <button class="action primary">View More</button>
        </a>
      </div>
    </div>
  </div>