<div class="component-wrapper">

  <div data-bind="foreach: stores">
    <div class="store-content-mini-wrapper">

      <div class="col-tn-5 col-xs-12 col-sm-6 col-md-5">
        <br />
        <img class="img-responsive img-thumbnail" data-bind="attr: { src: image}" />
      </div>

      <div class="col-tn-7 col-xs-12 col-sm-6 col-md-7">
        <h3 data-bind="text: name"></h3>
        <p data-bind="text: address1"></p>
        <p data-bind="text: address2"></p>
        <p data-bind="text: town"></p>
        <p data-bind="text: country"></p>
        <p data-bind="text: postcode"></p>

        <br />
        <br />
        <a data-bind="attr: { href: url}">
          Get Directions
        </a>
        <br />
        <a data-bind="attr: { href: url}">
          <button class="btn btn-md btn-primary pull-left">View More</button>
        </a>
      </div>
    </div>
  </div>

</div>