<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="peasoupstorefinder" translate="label" sortOrder="10">
            <label>Storefinder</label>
        </tab>
        <section id="storefindersettings" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Finder Settings</label>
            <tab>peasoupstorefinder</tab>
            <resource>Peasoup_Storefinder::configuration</resource>
            <group id="general" translate="label" type="text"  sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable module on frontend.</comment>
                </field>
                <field id="storefinderfontawesome" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Font Awesome CDN</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable module on frontend.</comment>
                </field>
                <field id="storefinderheadinglink" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Heading Text</label>
                    <comment><![CDATA[Enter the store finder Link Text]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="storefinderintroductiontitle" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Introduction Title</label>
                    <comment><![CDATA[ Enter a title for the store finder page]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="storefinderintroduction" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Introduction</label>
                    <comment><![CDATA[Enter some introductory text for the store finder]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
            <group id="seosettings" translate="label" type="text"  sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Engine Optimisation</label>
                <field id="storefinderpagetitle" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
            <group id="mapsettings" translate="label" type="text"  sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Map Settings</label>
                <field id="apikey" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API Key</label>
                    <comment><![CDATA[Enter your google maps key]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>