<div class="store-content-wrapper">
    <table class="travel-mode-table">
        <tr>
            <td class="DRIVING active travel-mode">
                <i class="fa fa-2x fa-car"></i>
            </td>
            <td class="TRANSIT travel-mode">
                <i class="fa fa-2x fa-bus" aria-hidden="true"></i>
            </td>
            <td class="BICYCLING travel-mode">
                <i class="fa fa-2x fa-bicycle" aria-hidden="true"></i>
            </td>
            <td class="WALKING travel-mode">
                <i class="fa fa-2x fa-male" aria-hidden="true"></i>
            </td>

        </tr>
    </table>

    <div class="table-responsive">
        <form>
            <input type="text" id="searchRoute" name="searchRoute" placeholder="Find Directions..."  data-validate="{'required-entry':true}"/>
            <br />
            <br />
            <button id="checkout_button" class="btn btn-sm btn-primary pull-right" data-bind="click:_getDirections">Get Directions</button>
        </form>
    </div>

    <div>
        <hr />

        <div id="directions-panel" ></div>
    </div>
</div>