<div class="store-content-wrapper row">
    <br />
    <ul class="vertical" id="mode">
        <li class="DRIVING active col-xs-3 travel-mode"><p><i class="fa fa-15x fa-car"></i></p></li>
        <li class="TRANSIT col-xs-3 travel-mode"><p><i class="fa fa-15x fa-bus" aria-hidden="true"></i></p></li>
        <li class="BICYCLING col-xs-3 travel-mode"><p><i class="fa fa-15x fa-bicycle" aria-hidden="true" style="font-size:1.7em;"></i></p></li>
        <li class="WALKING col-xs-3 travel-mode"><p><i class="fa fa-15x fa-male" aria-hidden="true"></i></p></li>
    </ul>
    <div class="table-responsive  col-sm-12">
        <form>
            <input type="text" id="searchRoute" name="searchRoute" placeholder="Find Directions..."  data-validate="{'required-entry':true}"/>
            <br />
            <br />
            <button id="checkout_button" class="btn btn-sm btn-primary pull-right" data-bind="click:_getDirections">Get Directions</button>
        </form>
    </div>

    <div class="col-md-12">
        <hr />
        <br />
        <div id="directions-panel" style="max-height:242px;overflow:scroll;overflow-x: hidden;" class="col-sm-12"></div>
    </div>
</div>